@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


* {
   font-family: "DM Sans", sans-serif;
  
}
.font1 {
   font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar{
    display: none;
}
body{
   
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e8f3ef;
}
